*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    --twitter-color:#50a8d1;
    --twitter-background:#ccdbe6;
}


.ActiveOption{
    display:flex;
    align-items:center;
    cursor:pointer;
}


.ActiveOption .material-icons, 
.fa-twitter{
    padding:20px;
}


.ActiveOption h2{
    font-weight:100;
    font-size:20px;
    margin-right:20px;
}


.ActiveOption:hover{
    background-color:var(--twitter-background);
    border-radius:30px;
    color:var(--twitter-color);
    transition:color 100ms ease-out;
}


.ActiveOption .active{
    color:var(--twitter-color);
}


.left-side_tweet{
    width:100%;
    background-color:var(--twitter-color);
    border:none;
    color:white;
    font-weight:900;
    border-radius:30px;
    margin-top:50px;
    height:60px;
}


body{
    display:flex;
    height:100vh;
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    padding:0 10px;
}


.left-side{
    border-right:1px solid var(--twitter-background);
    flex:0.2;
    min-width:250px;
    margin-top:20px;
    margin-left:20px;
    padding-right:20px;
}


.fa-twitter{
    color:var(--twitter-color);
    font-size:30px;
}


/*Main Content*/
.main{
    flex:0.5;
    border-right:1px solid var(--twitter-background);
    min-width:fit-content;
    overflow-y:scroll;
}


.header{
    position:sticky;
    top:0;
    background-color:white;
    z-index:100;
    border:1px solid var(--twitter-background);
    padding:15px 20px;
}


.header h2{
    font-size:20px;
    font-weight:800;
}


.main{
    -ms-overflow-style:none;
    scrollbar-width:none;
}


/*Tweet Box*/
.tweetbox_input img{
    border-radius:50%;
    height:40px;
}


.tweetbox{
    padding-bottom:10px;
    border-bottom:10px solid var(--twitter-background);
    padding-right:10px;
}


.tweetbox form{
    display:flex;
    flex-direction:column;
}


.tweetbox_input{
    display:flex;
    padding:20px;
}


.tweetbox_input input{
    flex:1;
    margin-left:20px;
    font-size:20px;
    border:none;
    outline:none;
}


.tweetbox .tweetbox_button{
    background-color:var(--twitter-color);
    border:none;
    color:white;
    font-weight:900;
    border-radius:30px;
    width:80px;
    height:40px;
    margin-top:20px;
    margin-left:auto;
}


/*Post*/
.post{
    display:flex;
    align-items:flex-start;
    border-bottom:1px solid var(--twitter-background);
    padding-bottom:10px;
}


.post-body img{
    width:450px;
    object-fit:contain;
    border-radius:20px;
}


.post-footer{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}


.post-badge{
    font-size:14px !important;
    color:var(--twitter-color);
    margin-right:5px;
}


.post-header-special{
    font-weight:600;
    font-size:12px;
    color:gray;
}


.post-header-text h3{
    font-size:15px;
    margin-bottom:5px;
}


.post-header-details{
    margin-bottom:10px;
    font-size:15px;
}


.post-body{
    flex:1;
    padding:10px;
}


.post-img{
    padding:20px;
}

/*Right Side Content*/
.right-side{
    flex:0.3;
}


.right-side-input{
    display:flex;
    align-items:center;
    background-color:var(--twitter-background);
    padding:10px;
    border-radius:20px;
    margin-top:10px;
    margin-left:20px;
}


.right-side-input input{
    border:none;
    background-color:var(--twitter-background);
    outline:none;
}


.right-side_searchIcon{
    color:gray;
}


.right-side-container{
    margin-top:15px;
    margin-left:20px;
    padding:20px;
    background-color:#f5f8fa;
    border-radius:20px;
}


.right-side-container h2{
    font-size:18px;
    font-weight:800;
}
